<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [20]:
#Exercise 10 - Insert a markdown cell to list Objectives

Objectives:
- List data science languages
- List data science libraries
- Indicate three development environment open source tools used in data science
- Evaluate arithmetic expressions in Python

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

In [3]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

In [4]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Juputer Notebooks|
|RStudio|
|Watson Studio|

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [8]:
(3*4)+5
## This a simple arithmetic expression to mutiply then add integers

17

In [9]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [17]:
print("200 minutes in hours:", int(200/60))
## This will convert 200 minutes to hours by diving by 60

200 minutes in hours: 3

In [21]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Karina Tulepbergenova